:root{
   --mainBlue:#2a2a72;
   --mainWhite: #f3f3f3;
   --mainDark: #232528;
   --mainGrey: #D8D8D8;
}

body{
  font-family: "Balsamiq+Sans", sans-serif !important;
  background:  var(--mainwhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
   font-family: 'Alike', serif;
   letter-spacing: 0.3rem;
   text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
   color: var(--lightBlue);
}